{% extends "base.html.twig" %}

{% block title %}{{ trick.name }}{% endblock %}

{% block content %}
    <section class="nopadding col-lg-12 mx-auto text-center border border-dark">

        {{ include('@SnowTricksApp/Trick/modals/delete_trick.html.twig') }}

        <header class="masthead content" id="front_picture" style="background-image:
                {% if trick.frontPicture is defined and trick.frontPicture is not null %}
                    url('{{ asset('uploads/pictures/' ~ trick.frontPicture) }}');">
                {% else %}
                        url('/img/none.png');">
                {% endif %}
            {% if app.user %}
            <div class="fai">
                <a href="{{ path('snow_tricks_trick_edit', {id: trick.id}) }}"><i class="fa fa-pencil cursor"></i></a>
                <a href="#" data-href="{{ path('snow_tricks_trick_delete', {id: trick.id, csrf: csrf_token('delete-item')}) }}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash cursor"></i></a>
            </div>
            {% endif %}
            <div class="intro-text">

                <div class="intro-heading col-lg-4 mx-auto text-center">
                    {{ trick.name }}
                </div>

            </div>
        </header>

            <div class="album py-5 bg">
                <div class="container">
                    <div class="row">
                            {% for picture in trick.pictures %}
                            <div class="col-md-2" id="addPicture{{ loop.index0 }}">
                                <div class="card mb-4 box-shadow">
                                    <a href="{{ asset('uploads/pictures/' ~ picture.file) }}"><img class="card-img-top" src="{{ asset('uploads/pictures/' ~ picture.file) }}" alt="none" height="150px"></a>
                                </div>
                            </div>
                            {% endfor %}
                    </div>
                </div>
            </div>


        <div class="album bg">
            <div class="container">
                <div class="row">
                    {% if trick.videos is defined %}
                        {% for video in trick.videos %}
                        <div class="col-md-4" id="addVideo{{ loop.index0 }}">
                            <div class="card mb-4 box-shadow">
                                <iframe src="{{ video.url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-lg-10 mx-auto mt-5 mb-5">
            <p class="text-justify">{{ trick.description }}</p>
        </div>

        <div class="col-lg-6 mx-auto mb-5">
            <i class="fa fa-cog"> {{ trick.category.name }}</i> |
            <i class="fa fa-clock-o"> Added {{ trick.createDate|date("F jS \\a\\t g:ia") }}
                {% if trick.editDate is not null %}
                    & Edited {{ trick.editDate|date("F jS \\a\\t g:ia") }}
                {% endif %}</i>
        </div>


        {% if app.user %}
        {#Form comment#}
        {{ render(controller(
            'SnowTricksAppBundle:Comment:add',
            { 'id': trick.id }
        )) }}
        {% endif %}

        {#List comments#}

        {{ render(controller(
            'SnowTricksAppBundle:Comment:listCommentsByTrick',
            { 'id': trick.id }
        )) }}

    </section>



{% endblock %}

{% block javascripts %}
        {{ parent() }}
    <script type="text/javascript">
            var stop = 1;
            var url = "{{ path('snow_tricks_comment_list_comment_ajax', {'id': trick.id, 'lastComment': 'null'})|escape('js') }}";
            url = url.replace('null', '');

            if($(".listComments").length < 10)
            {
                stop = 0;
            }

            $(window).scroll(function() {

                if(stop > 0)
                {
                    if($(window).scrollTop() + $(window).height() >= $(document).height()) {
                        var last_id = $(".listComments:last").attr("id");
                        loadMoreData(last_id);
                    }
                }

            });


            function loadMoreData(last_id){
                $.ajax(
                    {
                        url: url+last_id,
                        type: "get",
                        beforeSend: function()
                        {
                            $('.ajax-load').show();

                        }
                    })
                    .done(function(data)
                    {
                        if(!data)
                            stop--;

                        $('.ajax-load').hide();
                        $("#comments-data").append(data);
                    })
                    .fail(function(jqXHR, ajaxOptions, thrownError)
                    {
                        alert('server not responding...');
                    });
            }
    </script>
    <script src="{{ asset('js/js.js') }}"></script>
{% endblock %}