{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
    <div class="col-lg-12 text-center mb-4">
        <h1 style="color: #5a6268">Forgot Password</h1>
    </div>
    <div class="col-lg-4 mx-auto text-center border border-dark">
        {% for flashMessage in app.session.flashbag.get('notice') %}

            <div class="text-info mt-3"><i class="fa fa-exclamation-triangle"></i> {{ flashMessage }}</div>


        {% endfor %}
        {{ form_start(form) }}
        <div>

            {{ form_label(form.username, 'Username', {'label_attr': {class: 'mt-3'} }) }}
            {{ form_widget(form.username, {attr: {class: 'mb-3'} }) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
