{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Registration{% endblock %}

{% block content %}
    <div class="col-lg-12 text-center mb-4">
        <h1 style="color: #5a6268">Registration</h1>
    </div>
    <div class="col-lg-4 mx-auto text-center border border-dark">
        {{ form_start(form) }}
        <div>

            {{ form_label(form.username, 'Username', {'label_attr': {class: 'mt-3'} }) }}
            {{ form_widget(form.username, {attr: {class: 'mb-3'} }) }}
        </div>
        <div>
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {attr: {class: 'mb-3'} }) }}
        </div>
        <div>
            {{ form_label(form.password) }}
            {{ form_widget(form.password, {attr: {class: 'mb-3'} }) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
